body{
  font-size: 16px;
}
.h6{
  font-size: 16px;
}
.letter-1{
  letter-spacing: $letter-1;
}
.letter-2{
  letter-spacing: $letter-2;
}
.letter-3{
  letter-spacing: $letter-3;
}
.letter-5{
  letter-spacing: $letter-05;
}
.subtitle-1{
  font-size: $font-size-base*0.875;
}
.bg-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-indent {
  text-indent: 2em;
}
.not-allow {
  cursor: not-allowed;
}
.select-icon {
  background: #fff
    url(~@/assets/images/arrow-down.png)
    no-repeat right 0.75rem center;
  background-size: 10px 10px;
}

.center-position{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
